# If you are using Python, you can get the SECRET_KEY by running the below command
# python -c "import string as s; from os import path; from secrets import SystemRandom as SR; print(''.join(SR().choices(s.ascii_letters + s.digits + s.punctuation, k=64)))"
# Remove every comma in the resulted string and you can then use it
SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.contrib.gis.db.backends.postgis"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"